.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progressbar {
  width: 500px;
  height: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.progressbar span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.progressbar div{
  height: 100%;
  background-color: #00c251;
}
